:root {
  --primary-color: #6abdab;
  --secondary-color: #141414;
  --border-radius: 4px;
}
nav .navbar-nav li a {
  color: white !important;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.navbar-toggler {
  border-color: var(--secondary-color);
  margin-right: 20px;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28106, 189, 171, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
h1 {
  color: var(--primary-color);
  font-family: "Times New Roman", Times, serif;
}
h2 {
  color: var(--primary-color);
  font-family: "Times New Roman", Times, serif;
}
h4 {
  font-family: "Times New Roman", Times, serif;
}
p {
  color: var(--primary-color);
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
body {
  background-color: var(--secondary-color);
}
.grid-text {
  color: var(--secondary-color);
  font-family: "Times New Roman", Times, serif;
  margin-top: 0.5vw;
}

.grid-title {
  color: var(--secondary-color);
  font-family: "Times New Roman", Times, serif;
  margin-top: 12vw;
}
hr {
  color: var(--primary-color);
  margin-right: 90px;
  margin-left: 90px;
  height: 3px;
}
.homepage-heading {
  font-size: 70px;
}
.homepageh2 {
  font-size: 50px;
  color: var(--secondary-color);
}
.abouth1 .contacth1 {
  font-size: 70px;
}
.navbar-brand {
  margin-left: 9px;
}
.declutter {
  font-size: 24px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer {
  list-style: none;
  text-align: center;
  padding: 0;
}
.lifooter {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 550;
  color: #6abdab;
  font-family: "Times New Roman", Times, serif;
}

.lifooter1 {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 550;
  color: #6abdab;
  font-family: "Times New Roman", Times, serif;
}
a {
  color: var(--primary-color);
  text-align: center;
  text-decoration: none;
}
.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;
  width: 100%;
}
.containerhome {
  background-color: white;
  width: 100%;
}
.joe {
  color: var(--primary-color);
}
.email {
  text-align: center;
}
.letter {
  font-size: 60px;
}
.homepagesection {
  background-color: white;
}
.productsimg {
  width: 100%;
  height: 55vw;
  opacity: 0.2;
}
.reviewsectiontext {
  position: absolute;
  top: 15vw;
  left: 0;
  width: 100%;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 5vw;
  text-decoration: none;
}
.productsimgsec {
  position: relative;
  width: 100%;
}
@media (max-width: 500px) {
  .productsimg {
    height: 70vw;
  }
  .reviewsectiontext {
    top: 20vw;
  }
  .grid-text {
    font-size: 5vw;
    color: var(--secondary-color);
    font-family: "Times New Roman", Times, serif;
    margin-top: 0vw;
  }
  .grid-title {
    color: var(--secondary-color);
    font-family: "Times New Roman", Times, serif;
    margin-top: 0vw;
  }
  .hr {
    margin-top: none;
    margin-bottom: none;
  }
  .lifooter1 {
    margin-top: 5px;
    margin-bottom: none;
    line-height: 1px;
    display: inline;
  }
}
.cardContainer {
  width: 240px;
  height: 240px;
  perspective: 1000px;
}
.card {
  height: 100%;
  width: 100%;
  position: relative;

  transition: transform 1000ms;
  transform-style: preserve-3d;
  font-family: monospace;
}
.card:hover {
  cursor: pointer;
  transform: rotateY(180deg);
}
.cardFront {
  text-align: center;
}
.cardBack {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  backface-visibility: hidden;
}
.cardFront img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.cardBack {
  background-color: var(--primary-color);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cardText {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  color: black;
}
.cardHeading {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 18px;
  color: black;
}
.formbutton {
  background-color: #6abdab;
  border-color: #6abdab;
  color: #141414;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.socials {
  color: var(--primary-color);
  font-size: 25px;
  justify-content: end;
}
